services:
  api:
    build: .
    container_name: api
    ports:
      - "3000:3000"

  ngrok:
    image: ngrok/ngrok:latest
    container_name: ngrok
    depends_on:
      - api
    environment:
      NGROK_AUTHTOKEN: "35yKG1kAHQFCoxIrAUAhW3ZnGIp_SE8jY8HonUtdZo7FBQ95"
    command: http api:3000